@charset "UTF-8";

*{margin:0; padding:0;}

.ex-category{
	margin-top:30px;
	margin-left:10px;
	display:flex;
	flex-direction:row;
}
.ex-category a{
	padding:5px;
	box-sizing: border-box;
	border: 1px solid #e3e3e3;
	border-bottom: none;
	margin-right:1px;
}

/*  */
.ex-container{
	box-sizing: border-box;
	border: 1px solid #e3e3e3;
	margin-top: 0px;
	margin-bottom: 100px;
	margin-left: 10px;
	margin-right: 10px;
	padding:10px;
}

.ex-item-container{
	position:relative;
	width:100%;
	display:flex;
	flex-direction: row;
	box-sizing: border-box;
	padding:15px;
	
	
}

.ex-item{
	border:1px solid #e3e3e3;
	padding:10px;
	position: relative;
	display:flex;
	flex-direction:column;
}
.ex-item-info{
	display:flex;
	flex-direction:row;
	text-align:center;
}
.ex-item-info h3{
	width:25%;
}
.ex-item-image{
	width:400px;
	height:300px;
	border: 0.8px solid black;
}
.ex-desc{
	font-size:20px;
	margin-top:30px;
	display:flex;
	flex-direction:column;
}
.ex-desc span{
	margin:5px;
}
.ex-desc span:first-child{
	margin-bottom:50px;
}
.ex-video{
	margin-left:30px;
	padding:10px;
	padding-top:100px;
}
