@charset "UTF-8";

*{padding:0; margin:0;}
.main *{
	box-sizing: border-box;
}
div{display:block;}
.menu{
	
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align:center;
	box-sizing: border-box;
	border:1px solid #bbb;
	height:60px;
}
dd{
	margin-inline-start:40px;
	margin-left:0;
}
dt, dd{
	line-height:1.38;
}
fieldset{
	margin:0;
	padding:0;
	width:100%;
	min-width:0;
	border:0;
	display:block;
	margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}
legend{
	overflow:hidden;
	height:1px;
	position:absoulte;
	display:block;
	width:100%;
	padding:0;
	margin-bottom:20px;
	font-size:21px;
	line-height:inherit;
	color:#333;
	border:0;
	border-bottom:1px solid #e5e5e5;
}
label{
	max-width:100%;
	margin-bottom:5px;
	font-weight:bold;
}
.menu div a:hover{
	color: skyblue;
}

#sub-header{
	position:relative;
	width:85%;
	margin:auto;
	height: auto;
	z-index:1;
	box-sizing: border-box;
	border-bottom: 1px solid black;
}
.h1{
	box-sizing:border-box;
	font-size:36px;
	font-weight:bold;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-left:20px;
}
.cal-container{
	
	padding-top: 5px !important;
	padding-left: 100px;
	padding-right: 100px;
	height:680px;
	
}
.cal-main{
	width:100%;
	float:none;
	margin: 30px 0 50px 0;
	font-size:15px;
	line-height:25px;
}
.cal-title{
	font-size:25px;
	color:lightgreen;
	margin:50px 0 30px 0;
	line-height: 35px;
}
.bmi-search{
	border:1px solid #d7d7d7;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	maring:0;
	padding:20px;
	text-align:center;
	background: white;
	margin-bottom:0;
}
.col-3{
	width:33.333333%;
	float:left;
	display:inline-block;
}
.col-3:first-child{
	border-top-left-radius:5px;
}
.col-3:last-child{
	border-top-right-radius:5px;
}
.col-3-title{
	margin:0;
	text-align:center;
	border-bottom:1px solid #D7D7D7;
	padding: 10px 20px;
	font-size:15px;
	background: #f6f6f6;
}
.col-3 dl{
	padding: 20px 20px 10px;
	margin:0;
}
.col-3 dl dt{
	clear: both;
	float: left;
	width: 68px;
	text-align:left;
	padding-top:20px;
}


.col-3 dl label{
	visibility: visible !important;
	text-indent: 0 !important;
	overflow: visible;
	width: auto;
	height: auto;
	
	position:relative;
	color:#111;
}
.bmi-search .col-3 dl dt, .bmi-search .col-3 dl dd{
	float:left;
	display:inline-block;
	margin-bottom:10px;
}
.btn-group{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.btn-group > .btn:first-child{
	border-top-right-radius: 0;
	border-bottom-right-radius:0;
}
.btn-group > .btn:last-child{
	border-top-left-radius: 0;
	border-bottom-left-radius:0;
}
.btn-group > .btn:first-child{
	margin-left:0;
}

.col-3 dl input{
	height:38px;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	padding: 0 7px;
}

.btn{
	margin-bottom:0;
	font-size:14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select:none;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
}
input[type="radio"], input[type="checkbox"]{
	margin:4px 0 0;
	line-height: normal;
	vertical-align:middle;
}

.bmi-search:after, .bmi-search .col-3 dl:after{
	content: "\0020";
	display:block;
	height:0;
	overflow: hidden;
	clear:both;
}

.bmi-search .col-3 dl input{
	height: 38px;
	width: 115px;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	padding: 0 7px;
}
.bmi-search .col-3:first-child + .col-3{
	border-right:1px solid #d7d7d7;
	border-left:1px solid #d7d7d7;
}

.bmi-search .col-3 dl input[readonly]{
	border: 1px solid #F90;
}

.bmi-search .col-3 dl dd.ddfull > input{
	width: 183px;
}
.bmi-search .col-3 dl dd.ddfull > .btn-default{
	width: 183px;
	height: 35px !important;
	line-height: 5px;
	margin-bottom: 0 !important;
	border-radius: 3px !important;
	padding: 18px !important;
}

.btn-block{
	display:block;
	width: 100%;
	padding:25px;
}
.btn-default{
	color:#333;
	background-color:#fff;
	border-color:#ccc;
}







	
