@charset "UTF-8";

a{text-decoration: none;}
	.board-notice.type_required, .board-notice.type_main{
		background: #f9f9f8;
	}
	.td_article{
		padding-left:12px;
		padding-right:18px;
		
	}
	.article-board tbody td{
		border-bottom-color: #f2f2f2;
		height: 8px;
		padding:4px 5px;
		border-bottom:1px solid #f2f2f2;
	}
	.board-tag{
		display:table-cell;
		width:56px;
		padding-right: 20px;
		text-align: center;
		vertical-align: middle;
	}
	
	.board-tag-txt{
		border:1px solid #00FFFF;
		background-color: #99FFFF;
		color: #0066FF;
		display:block;
		width:56px;
		height:10px;
		box-sizing:border-box;
		border-radius:3px;
		font-size:11px;
		font-weight:800;
		line-height:9px;
	}
	.board-list{
		display:table-cell;
		padding-top:1px;
	}
	.inner_list{
		display:table;
		width:100%;
		table-layout:fixed;
		word-wrap:break-word;
		word-break: break-word;
	}
	
	
	.head{
		color: #959595;
		font-weight:bold;
	}
	.article-board tbody td{
		border-bottom-color:#f2f2f2;
		height:28px;
		padding: 4px 7px;
		border-bottom:1px solid #f2f2f2;
	}
	.td_name,.td_date,.td_view{
		text-align:center;
	}