@charset "UTF-8";
ul,li,ol,dl{
	display:none;
}
ul{
	margin-block-start:1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}
div{
	display:block;
}
form{
	display:block;
}
#content-container{
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding:5px;
	clear: both;
	box-sizing: border-box;
	border:none;
}
#content-container:after{
	content: '';
	display:block;
	clear:both;
	
}

#main-container{
	position:relative;
	width: 95%;
	margin: auto;
	padding:5px;
	box-sizing: border-box;
	border:1px solid lightgray;
	border-top-right-radius:25px;
	border-top-left-radius:25px;
}

#sub-title{
	display:table;
	width: 95%;
	margin: 0 auto ;
	padding:15px;
	table-layout: fixed;
	background-color:white;
	margin-bottom: 0px;
}
.title-area {
	display:table-cell;
	padding:5px;
	width: 550px;
	word-wrap: break-word;
	word-break: break-word;
	margin-bottom:5px;
}
.title-area a{
	margin-bottom: 10px;
	color: #66CC00;
}
.sub-title-color{
	display:inline;
	font-weight:600;
	font-size: 22px;
	line-height: 24px;
	vertical-align: sub;
	margin-top:10px;
	padding-top:10px;
	
}
#input_title{
	display:flex;
	flex-direction:row;
	margin-top:10px;
	border-top: 1px solid black;
	padding-top:10px;
}
#input_title input{
	display: block;
	width:100%;
	min-height: 40px;
    padding: 11px 12px 10px;
    border: 1px solid #ebecef;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    word-break: break-all;
    font-size: 15px;
    letter-spacing: -.23px;
    line-height: 17px;
    outline: none;
}
#profile i{
	font-size:40px;
	margin-right:20px;
}
#profile-user{
	display:flex;
	flex-direction: column;
	font-size:15px;
	
}

#post-area{
	margin:auto;
	width:95%;
	height:530px;
}



.list-category{
	padding:6px 0 10px;
	display:flex;
	flex-direction:row;
	align-items:center;
	
}
.category-area{
	width:50%;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	margin:5px;
}
.category-area div{
	margin-right:13px;
}
.category-area div:hover{
	background-color:#e5e5e5;
}
.write-area{
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
	width:95%;
	margin:10px;
}
.write-area a{
	box-sizing:border-box;
	border:1px solid gray;
	background-color:#e5e5e5;
	border-radius:10px;
	padding: 6px 6px;
	margin-right:5px;
	font-size:13px;
}

.write-area input{
	box-sizing:border-box;
	border:1px solid gray;
	background-color:#e5e5e5;
	border-radius:10px;
	padding: 6px 6px;
	margin-right:5px;
	font-size:13px;
}

.CommentBox{
	position:relative;
	margin: auto;
	margin-top: 18px;
	width:95%;
	border-top: 1px solid lightgray;
	padding:10px;
}

dl,ol,ul,li{
	list-style:none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.comment_contents{
	display:flex;
	flex-direction: row;
}
.comment_contents i{
	font-size:20px;
	margin-right: 10px;
}
.comment_item{
	margin-bottom:20px;
	border-bottom: 0.5px solid lightgray;
	padding-bottom:10px;
	border-bottom-right-radius:25px;
}
.comment_writer{
	margin: 12px 0 29px;
    padding: 16px 10px 10px 18px;
    border: 2px solid lightgray;
    border-radius: 6px;
    box-sizing: border-box;
    background: var(--skinCommentWriterBg);
}
.comment_inbox textarea{
	max-height: 500px;
	overflow-x: hidden;
    overflow-y: auto;
    display: block;
    width: 100%;
    min-height: 17px;
    padding-right: 1px;
    border: 0;
    font-size: 13px;
    -webkit-appearance: none;
    resize: none;
    box-sizing: border-box;
    background: transparent;
    color: var(--skinTextColor);
    outline: 0;
}
.btn_comment{
	display: inline-block;
    min-width: 46px;
    height: 34px;
    line-height: 36px;
    font-size: 13px;
    color: var(--skinCommentWriterText);
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: 700;
    text-align: center;
    vertical-align: top;
}
/*  */
tr{
	display:table-row;
	vertical-align:inherit;
	border-color:inherit;
}
td{
	display:table-cell; 
	vertical-align:inherit; 
}
table{
	display: table;
	box-sizing: border-box;
	border-color: grey;
	text-indent:initial;
	border-spacing:2px;
}

.article-board thead th{
	border-top-color: #333;
	border-bottom-color:#f2f2f2;
	color:#4e4e4e;
	height:40px;
	border-top: 1px solid #666;
	border-bottom: 1px solid #f2f2f2;
}

/* 이부분부터 찾아서 보면 됩니다잉 */
.article-board table{
	word-wrap:break-word;
	word-break: break-word;
	table-layout: fixed;
	border-collapse:collapse;
}
.article-board thead th{
	color:#4e4e4e;
}
.article-board .th_name{
	padding: 0 6px;
	text-align: left;
}


/* 이게 있으면 게시판 화면이 고정이되어있어서 
화면 불러올때 이상하게 나옴 일단 넣어놨다가 수정하자*/
#out-Notice{
	/* box-sizing: border-box;
	border: 1px solid black; */
	position: relative;
	width:100%;
}
#out-Board{
	position:relative;
	width:100%;
}


/*  */

/*  */

