<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="users">
 	
 	<!-- <select id="login" parameterType="com.min.vo.MVO" resultType = "com.min.vo.MVO">
 		select * from users where email = #{email} and pw = #{pw}
 		
 	</select> -->
	
 </mapper>